<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.sync.elasticsearch.dao.BaseDao">

    <select id="selectByPK" resultType="java.util.HashMap">
        SELECT
            *
        FROM
            ${databaseName}.${tableName}
        WHERE ${key} = ${value}
    </select>

    <select id="selectByPKs" resultType="java.util.List">
        SELECT
            *
        FROM
        ${databaseName}.${tableName}
        WHERE ${key} IN
        <foreach item="item" index="index" collection="valueList" open="(" separator="," close=")">
            ${item}
        </foreach>
    </select>

    <select id="selectByPKsLockInShareMode" resultType="java.util.List">
        SELECT
            *
        FROM
            ${databaseName}.${tableName}
        WHERE ${key} IN
        <foreach item="item" index="index" collection="valueList" open="(" separator="," close=")">
            ${item}
        </foreach>
        LOCK IN SHARE MODE
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            ${databaseName}.${tableName}
    </select>

    <select id="selectMaxPK" resultType="java.lang.Long">
        SELECT
            ${key}
        FROM
            ${databaseName}.${tableName}
        ORDER BY ${key} DESC
        LIMIT 1
    </select>

    <select id="selectMinPK" resultType="java.lang.Long">
        SELECT
        ${key}
        FROM
        ${databaseName}.${tableName}
        ORDER BY ${key}
        LIMIT 1
    </select>

    <select id="selectByPKInterval" resultType="java.util.HashMap">
        SELECT
            *
        FROM
            ${databaseName}.${tableName}
        WHERE
            ${key} <![CDATA[ >= ]]> #{minPK} AND ${key} <![CDATA[ < ]]> #{maxPK}
    </select>

    <select id="selectByPKIntervalLockInShareMode" resultType="java.util.HashMap">
        SELECT
            *
        FROM
            ${databaseName}.${tableName}
        WHERE
            ${key} <![CDATA[ >= ]]> #{minPK} AND ${key} <![CDATA[ < ]]> #{maxPK}
        LOCK IN SHARE MODE
    </select>
</mapper>